.logo{
    text-align: left;
    color: rgb(90, 90, 243);
    font-family: 'Courier New', monospace;
}
ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.nav{
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #CFC9C9;
}
.join{
    background-color:rgb(76, 164, 76);
    color: rgb(255, 255, 255);
    width: 130px;
    height: 40px;
    border-radius: 40px;
}